.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 618px}
.u-section-1 .u-text-1 {margin: 10px -7px 0 7px}
.u-section-1 .u-text-2 {margin: -33px 475px 0 auto}
.u-section-1 .u-image-1 {width: 303px; height: 202px; margin: 37px auto 0 46px}
.u-section-1 .u-image-2 {width: 303px; height: 202px; margin: -202px 412px 0 auto}
.u-section-1 .u-image-3 {width: 303px; height: 202px; margin: -202px 46px 0 auto}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin: 10px 790px 0 46px}
.u-section-1 .u-text-4 {font-size: 1.5rem; margin: -38px 424px 0 414px}
.u-section-1 .u-text-5 {font-size: 1.5rem; margin: -38px 46px 0 791px}
.u-section-1 .u-text-6 {margin: 0 790px 0 56px}
.u-section-1 .u-text-7 {width: 294px; margin: -152px auto 0}
.u-section-1 .u-text-8 {margin: -152px 46px 0 791px}
.u-section-1 .u-btn-1 {border-style: solid; margin: 0 auto 0 56px; padding: 10px 107px 10px 106px}
.u-section-1 .u-btn-2 {border-style: solid; margin: -50px auto 0; padding: 10px 107px 10px 106px}
.u-section-1 .u-btn-3 {border-style: solid; margin: -50px 46px 48px auto; padding: 9px 112px 11px 111px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-1 .u-text-2 {margin-right: 392px}
.u-section-1 .u-text-3 {margin-right: 636px; margin-left: 0}
.u-section-1 .u-text-4 {margin-right: 324px; margin-left: 314px}
.u-section-1 .u-text-5 {margin-right: 0; margin-left: 637px}
.u-section-1 .u-text-6 {margin-right: 646px; margin-left: 0}
.u-section-1 .u-text-8 {margin-right: 0; margin-left: 637px}
.u-section-1 .u-btn-1 {margin-left: 0}
.u-section-1 .u-btn-3 {margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-2 {margin-right: 300px}
.u-section-1 .u-text-3 {margin-right: 416px}
.u-section-1 .u-text-4 {margin-right: 214px; margin-left: 204px}
.u-section-1 .u-text-5 {margin-left: 417px}
.u-section-1 .u-text-6 {margin-right: 426px}
.u-section-1 .u-text-8 {margin-left: 417px} }

@media (max-width: 767px){ .u-section-1 .u-text-2 {margin-right: 225px}
.u-section-1 .u-image-2 {margin-right: 237px}
.u-section-1 .u-text-3 {margin-right: 236px}
.u-section-1 .u-text-4 {margin-right: 124px; margin-left: 114px}
.u-section-1 .u-text-5 {margin-left: 237px}
.u-section-1 .u-text-6 {margin-right: 246px}
.u-section-1 .u-text-8 {margin-left: 237px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-top: 20px}
.u-section-1 .u-text-2 {margin-top: 20px}
.u-section-1 .u-image-1 {margin-top: 20px; margin-left: 19px}
.u-section-1 .u-image-2 {margin-top: 20px}
.u-section-1 .u-image-3 {margin-top: 20px}
.u-section-1 .u-text-3 {margin-top: 20px; margin-left: 18px}
.u-section-1 .u-text-4 {margin-top: 20px; margin-left: 19px}
.u-section-1 .u-text-5 {margin-top: 20px; margin-left: 19px}
.u-section-1 .u-text-6 {margin-top: 20px; margin-left: 23px}
.u-section-1 .u-text-7 {margin-top: 20px}
.u-section-1 .u-text-8 {margin-top: 20px; margin-left: 19px}
.u-section-1 .u-btn-1 {margin-top: 20px; margin-left: 23px}
.u-section-1 .u-btn-2 {margin-top: 20px}
.u-section-1 .u-btn-3 {margin-top: 20px} }body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}